# .gitignore
# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
staticfiles/

# Environment variables
.env

# Backup files
*.bak

# macOS
.DS_Store

# Other
*.swp

# venv
venv/
.venv/
.vscode/